@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'global/main.css';
@font-face {
    font-family: "Varela Round";
    src: url('/fonts/VarelaRound-Regular.ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Bold.ttf');
}

